/*
 * Aggregate Chart

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

h1 .divider {
    margin: 0 8px;
}

h1 .sub-headline {
    color: #888;
    font-weight: 300;
}

img{
    width: 160px;
    margin-left: 30px;
}

button{
    margin-left:50px;
}
*/

/*
 * Racial Comparison Chart
 */

.raceLabel {
    font-size: smaller;
    align-content: center;
}

/*
 * Filters for Racial Comparison Chart
 */

#aapiButton {
    background-color: #4caf50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    float: left;
}

#aapiButton:hover {
    background-color: #3e8e41;
}

#aapiButton.active {
    background-color: #14598e;
}
